/* Box sizing - обязательно */
*, *::before, *::after {
    box-sizing: border-box;
}

/* Убираем стандартные отступы */
body, h1, h2, h3, h4, p {
    margin: 0;
}

/* Наследование шрифтов для форм */
input, button, textarea, select {
    font-family: inherit;
    font-size: inherit;
}

/* Убираем стрелки у number input */
input[type=number] {
    -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Изображения не растягиваются */
img {
    max-width: 100%;
    display: block;
}